
#menu{
	list-style-type:none;
	font-size:18px;
}

#menu li{
	display:inline;
}
/* Sidebar */
    #sidebar {
        width: 250px;
        position: fixed;
        height: 100%;
        transition: all 0.3s;
    }

    #sidebar.active {
        margin-left: -250px;
    }

    /* Page Content */
    #content {
        width: calc(100% - 250px);
        margin-left: 250px;
        transition: all 0.3s;
    }

    #content.active {
        width: 100%;
        margin-left: 0;
    }

    /* Table responsive */
    .table-responsive {
        transition: all 0.3s;
    }